table{
    text-align: center;
    background-color: #112947;
    color: white;
    border: 55px solid aqua;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
   
}
tr{
    
}

