table{
    text-align: center;
    background-color: #112947;
    color: white;
    border: 55px solid aqua;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.button {
    background-color: #ffbb3d;
    height:70px ;
    width: 170px;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 20px;
    border-color: white 2px;
    font-family: 'Ubuntu', sans-serif;
}
